<%- include('../_header') %>

<div class="columns" style="justify-content: space-between;">
  <h1 style="margin-bottom: 10px">My communities</h1>
  <a href="/communities/new" class="button">Nova Comunidade</a>
</div>

<% if (participating.length == 0) { %>
  <p>You haven't joined any communities yet, explore some below to join</p>
<% } %>
<% participating.map(community => { %>
  <a href="/communities/<%= community %>" class="link-block">
    #<%= community %>
  </a>
<% }) %>

<h1 style="margin-top: 40px; margin-bottom: 10px">Explore</h1>

<% communities.map(community => { %>
  <a href="/communities/<%= community %>" class="link-block">
    #<%= community %>
  </a>
<% }) %>

<%- include('../_footer') %>