<% if (friendshipStatus == "blocked") { %>
  <div style="margin-right: 10px; line-height: 33px;">❌ Blocked</div>
<% } else if (friendshipStatus == "no_relation") { %>
  <form action="<%= profileUrl(profile.id, "/add_friend") %>" method="POST">
    <input type="submit" class="button-blue" value="Add as friend" />
  </form>
<% } else if (friendshipStatus == "friends") { %>
  <form action="<%= profileUrl(profile.id, "/reject_friend") %>" method="POST">
    <input type="submit" value="Undo Amigoship" />
  </form>
<% } else if (friendshipStatus == "request_sent") { %>
  <form action="<%= profileUrl(profile.id, "/reject_friend") %>" method="POST">
    <button class="button-secondary undo-request">Request sent</button>
  </form>
<% } else if (friendshipStatus == "request_received") { %>
  <form action="<%= profileUrl(profile.id, "/add_friend") %>" method="POST">
    <input type="submit" class="button-blue" value="Accept" />
  </form>
  <form action="<%= profileUrl(profile.id, "/reject_friend") %>" method="POST" style="margin-left: 5px">
    <input type="submit" value="Reject" />
  </form>
<% } else if (friendshipStatus == "request_rejected") { %>
  <form action="<%= profileUrl(profile.id, "/add_friend") %>" method="POST">
    <input type="submit" class="button-blue" value="Add as friend" />
  </form>
<% } %>