<%- include('../desktop/_header') %>

<div style="max-width: 800px; margin: 0 auto">
  <h1>Download the app</h1>

  <p style="padding: 20px 0">
    If you don't trust this server to hold your credentials, download the app version,
    it keeps all the data local, which means your credentials never leave your computer,
    plus you can use Rede Moinho offline
  </p>
  <p>
    <a href="https://github.com/rogeriochaves/feedless/releases">Go to downloads page</a>
  </p>
</div>

<%- include('../desktop/_footer') %>