<div>
  <button class="secret-button js-compose-secret-message" style="padding: 10px 14px; justify-content: center">
    ✍️ Mensagem Secreta
  </button>
  <div class="overlay" style="display: none"></div>
  <div class="modal" style="display: none">
    <div class="js-step">
      <div class="modal-header">Escreva uma mensagem secreta</div>
      <div class="modal-body">
        <textarea name="message" class="compose-post js-secret-message-input" style="margin: 0"></textarea>
      </div>
      <div class="modal-footer">
        Você vai escolher  quem vai receber no próximo passo
        <button class="js-modal-confirm">Próximo</button>
      </div>
    </div>
    <div class="js-step" style="display: none">
      <div class="modal-header">Choose the recipients</div>
      <div class="modal-body js-recipients-list">
        <% allFollowing = friends.friends.concat(friends.requestsSent) %>
        <% allFollowing.map(friend => { %>
          <div>
            <label>
              <input type="checkbox" name="recps" class="js-secret-recipients" value="<%= friend.id %>">
              <%= friend.name %>
            </label>
          </div>
        <% }) %>
        <% if (allFollowing.length == 0) { %>
          <p>You don't have any friends 🙁</p>
          <p>Go add some to tell secrets</p>
        <% } %>
      </div>
      <div class="modal-footer">
        the message will be encrypted for you and the recipients
        <button class="js-modal-confirm js-secret-publish">Send</button>
        <div style="display: none" class="js-sending-message"></div>
      </div>
    </div>
  </div>
</div>