<div class="letter-count js-letter-count">140</div>
<textarea name="message" class="compose-post js-compose-post" placeholder="<%= placeholder %>"></textarea>
<div class="reverse-columns" style="margin-top: 10px">
  <input type="submit" value="Publicar" />
</div>
<input type="hidden" class="js-post-mention-id" name="mentionId" value="" />
<input type="hidden" class="js-post-mention-name" name="mentionNome" value="" />
<input type="hidden" class="js-post-prev" name="prev" value="" />
<input type="hidden" class="js-post-root" name="root" value="" />