<%- include('_header') %>

<h1>Rede Moinho had an error</h1>
<p style="margin: 30px 0">If you are a developer, this should help:</p>
<pre style="white-space: pre-wrap"><%= error.stack %></pre>

<%- include('_footer') %>