<%- include('_header', { main_class: "screen-center", body_class: "home-page" }) %>

<div class="columns">
  <div class="secret-chat">
    <h2 class="column-side-padding">Mensagem Privada</h2>
    <%- include('secrets/_messages') %>
    <%- include('secrets/_compose_multiple') %>
  </div>

  <div class="wall">
    <div class="columns">
      <div>
        <img class="profile-pic" src="<%= profileImageUrl(profile) %>" />
      </div>
      <div style="padding-left: 20px">
        <h1><%= profile.name %></h1>

        <%- escapeMarkdown(profile.description || "").substr(0, 70) %>
      </div>
    </div>

    <form action="/publish" method="POST">
      <%- include('_publish', { placeholder: "Post something on your wall..." }) %>
    </form>

    <h2 style="margin: 0">Your Wall</h2>
    <div style="padding-top: 15px;">
      <% if (posts.length > 0) { %>
        <%- include('../shared/_posts', { posts }) %>
      <% } else { %>
        <div class="post">
          Você ainda não tem nada publicado, escreva algo!
        </div>
      <% } %>
    </div>
  </div>

  <div class="friends-communities">
    <% if (friends.requestsReceived.length) { %>
      <h2>Friend Requests</h2>
      <div style="margin-bottom: 30px">
        <%- include('_friends', { friends: friends.requestsReceived }) %>
      </div>
    <% } %>

    <h2>Amigos</h2>
    <%- include('_friends', { friends: friends.friends }) %>
    <% if (friends.friends.length == 0) { %>
      <p>You don't have any friends yet 🙁</p>
      <p>Use the search or look in communities to find some</p>
    <% } %>

    <% if (friends.requestsSent.length > 0) { %>
      <h2 style="margin-top: 30px">Requests Sent</h2>
      <%- include('_friends', { friends: friends.requestsSent }) %>
    <% } %>

    <h2 style="margin-top: 30px">Comunidades</h2>
    <% communities.map(community => { %>
      <a href="/communities/<%= community %>" class="link-block">
        #<%= community %>
      </a>
    <% }) %>
    <% if (communities.length == 0) { %>
      <p>You haven't joined any communities yet</p>
    <% } %>
  </div>
</div>

<%- include('_footer') %>