<%- include('_header', { main_class: "screen-center" }) %>

<div class="columns">
  <div class="wall" style="border-radius: 5px 0 0 5px">
    <div class="columns">
      <div>
        <img class="profile-pic" src="<%= profileImageUrl(profile) %>" />
      </div>
      <div style="padding-left: 20px; width: 100%;">
        <div class="columns" style="align-items: center; justify-content: space-between;">
          <div class="columns" style="align-items: center">
            <h1><%= profile.name %></h1>
            <% if (friendshipStatus == "friends") { %>
              <div style="margin-left: 14px">✅ Amigos</div>
            <% } %>
          </div>
        </div>
        <div style="margin-bottom: 20px;"><%- escapeMarkdown(profile.description || "").substr(0, 70) %></div>

        <% if (friendshipStatus == "request_received") { %>
          <p><%= profile.name %> sent you a friendship request</p>
        <% } else if (friendshipStatus == "request_rejected") { %>
          <p>You rejected <%= profile.name %> friendship request</p>
        <% } %>

        <div class="columns profile-actions">
          <%- include('../shared/_friendship_button') %>

          <% if (friendshipStatus != "blocked") { %>
            <button class="button-yellow js-compose-secret-message" style="margin: 0 5px" data-url="<%= profileUrl(profile.id, "/publish_secret") %>">
              🤫 Secret Message
            </button>
            <%- include('secrets/_compose_single') %>
          <% } %>

          <div style="align-self: start;">
            <%- include('../shared/_profile_extra_menu') %>
          </div>
        </div>
      </div>
    </div>

    <form action="<%= profileUrl(profile.id, "/publish") %>" method="POST">
      <%- include('_publish', { placeholder: `Write something to ${profile.name}...` }) %>
    </form>

    <% if (friendshipStatus == "blocked") { %>
      You blocked <%= profile.name %>
    <% } else { %>
      <h2 style="margin: 0"><%= profile.name %>'s Wall</h2>
      <div style="padding-top: 15px;">
        <% if (posts.length == 0) { %>
          <div class="post">
            No posts yet
          </div>
        <% } else { %>
          <%- include('../shared/_posts', { posts }) %>
        <% } %>
      </div>
    <% } %>
  </div>

  <div class="friends-communities">
    <h2>Amigos</h2>
    <%- include('_friends', { friends: friends.friends }) %>
    <% if (friends.friends.length == 0) { %>
      <p>No friends</p>
    <% } %>

    <h2 style="margin-top: 30px">Comunidades</h2>
    <% communities.map(community => { %>
      <a href="/communities/<%= community %>" class="link-block">
        #<%= community %>
      </a>
    <% }) %>
    <% if (communities.length == 0) { %>
      <p>No communities</p>
    <% } %>
  </div>
</div>

<%- include('_footer') %>