<div>
  <button class="js-compose-secret-message compose-new-button">
    <div style="font-size: 30px">✍️</div>
  </button>
  <div class="overlay" style="display: none"></div>
  <div class="modal" style="display: none">
    <div class="modal-group js-step">
      <div class="modal-footer">
        <a href="javascript:;" class="js-modal-close" role="button">Close</a>
        <button class="js-modal-confirm">Próximo</button>
      </div>
      <div class="modal-header">Escreva uma mensagem secreta</div>
      <div class="modal-body">
        <textarea name="message" class="compose-post js-secret-message-input" style="margin: 0"></textarea>
        <small style="margin: 6px">Você vai escolher  quem vai receber no próximo passo</small>
      </div>
    </div>
    <div class="modal-group js-step" style="display: none">
      <div class="modal-footer">
        <a href="javascript:;" class="js-modal-back" role="button">⬅ Back</a>
        <button class="js-modal-confirm js-secret-publish">Send</button>
        <div style="display: none" class="js-sending-message"></div>
      </div>
      <div class="modal-header">Choose the recipients</div>
      <div class="modal-body js-recipients-list">
        <% allFollowing = friends.friends.concat(friends.requestsSent) %>
        <% allFollowing.map(friend => { %>
          <div>
            <label>
              <input type="checkbox" name="recps" class="js-secret-recipients" value="<%= friend.id %>">
              <%= friend.name %>
            </label>
          </div>
        <% }) %>
        <% if (allFollowing.length == 0) { %>
          <p>You don't have any friends 🙁</p>
          <p>Go add some to tell secrets</p>
        <% } %>
      </div>
    </div>
  </div>
</div>