<div class="pink-background">
  <h1 style="margin-bottom: 20px">New community</h1>

  <form action="/communities/new" method="POST">
    <label>
      Nome:
      <div class="columns" style="align-items: center; margin: 8px 0 20px 0;">
        <div style="padding-right: 10px">#</div>
        <input type="text" name="name" maxlength="70" style="margin: 0" placeholder="my-community" />
      </div>
    </label>

    <h1 style="margin: 40px 0 20px 0">First topic</h1>
    <label>
      Title:
      <input type="text" name="title" style="margin-bottom: 20px" maxlength="70" />
    </label>
    <label>
      Post:
      <textarea name="post" rows="5"></textarea>
    </label>
    <div class="reverse-columns" style="margin-top: 10px">
      <input type="submit" value="Publicar" />
    </div>
  </form>
</div>