<% if (posts.length > 0) { %>
  <div class="pink-background" style="flex-grow: 0;">
    <h2>
      <a href="/communities/<%= community.name %>" style="color: #600; text-decoration: none;">
        ⬅ #<%= community.name %>
      </a>
    </h2>
    <h1><%- topicTitle(posts[0].value) %></h1>
  </div>
  <%- include("../../shared/_posts", { posts: posts, isTopic: true }) %>

  <form action="/communities/<%= community.name %>/<%= posts[0].key.replace("%", "") %>/publish" method="POST" style="padding: 14px; border-top: 1px solid #ddd;">
    <label>
      Reply:
      <textarea name="reply" class="compose-post" style="margin: 10px 0 0 0; height: 80px"></textarea>
    </label>
    <div class="reverse-columns" style="margin-top: 10px">
      <input type="submit" value="Publicar" />
    </div>
  </form>
<% } else { %>
  <div class="pink-background">
    <h1 style="padding: 14px">404 topic not found</h1>
  </div>
<% } %>