<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width">
    <title>Rede Moinho</title>
    <link rel="stylesheet" href="/shared.css">
    <link rel="stylesheet" href="/mobile.css">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%221em%22 font-size=%2290%22>🙂</text></svg>">
  </head>
  <body>
    <header>
      <a class="logo" href="/">Rede Moinho</a>
      <button class="open-menu js-open-menu">
        <div class="menu-dash"></div>
        <div class="menu-dash"></div>
        <div class="menu-dash"></div>
      </button>
    </header>
    <div class="overlay js-top-menu-overlay" style="background: none; display: none"></div>
    <div class="top-menu js-top-menu" style="display: none;">
      <a href="/mobile/about">Edit profile</a>
      <a href="https://github.com/rogeriochaves/feedless/issues" target="_blank">Feedback</a>
      <a href="/logout">
        Logout
      </a>
    </div>
    <nav>
      <a href="/mobile" class="<%= context.path == "/mobile" ? "selected" : "" %>">
        <div class="nav-icon">🙂</div>
        Profile
      </a>
      <a href="/mobile/secrets" class="<%= context.path == "/mobile/secrets" ? "selected" : "" %>">
        <div class="nav-icon">🤫</div>
        Secrets
      </a>
      <a href="/mobile/friends" class="<%= context.path == "/mobile/friends" ? "selected" : "" %>">
        <div class="nav-icon">👨‍👧‍👦</div>
        Amigos
      </a>
      <a href="/mobile/communities" class="<%= context.path == "/mobile/communities" ? "selected" : "" %>">
        <div class="nav-icon">🌆</div>
        Comunidades
      </a>
      <a href="/mobile/search" class="<%= context.path == "/mobile/search" ? "selected" : "" %>">
        <div class="nav-icon">🔎</div>
        Search
      </a>
    </a>
    </nav>

    <%- body %>

    <script src="/js/shared.js"></script>
    <script src="/js/mobile.js"></script>
  </body>
</html>