<div class="pink-background">
  <% if (friends.requestsReceived.length) { %>
    <h2>Friend Requests</h2>
    <div style="margin-bottom: 30px">
      <%- include('_friends', { friends: friends.requestsReceived }) %>
    </div>
  <% } %>

  <h2>Amigos</h2>
  <%- include('_friends', { friends: friends.friends }) %>
  <% if (friends.friends.length == 0) { %>
    <p>You don't have any friends yet 🙁</p>
    <p>Use the search or look in communities to find some</p>
  <% } %>

  <% if (friends.requestsSent.length > 0) { %>
    <h2 style="margin-top: 30px">Requests Sent</h2>
    <%- include('_friends', { friends: friends.requestsSent }) %>
  <% } %>
</div>