<div class="columns" style="align-items: center;">
  <div><img class="profile-pic" src="<%= profileImageUrl(profile) %>" style="display:block" /></div>
  <div style="padding-left: 20px">
    <h1><%= profile.name %></h1>

    <%- escapeMarkdown(profile.description || "").substr(0, 70) %>
  </div>
</div>

<% if (posts.length > 0) { %>
  <form action="/publish" method="POST" style="padding: 0px 8px 5px 8px;">
    <%- include('_publish', { placeholder: "Post something on your wall..." }) %>
  </form>
  <%- include('../shared/_posts', { posts }) %>
<% } else { %>
  <div style="padding-top: 15px;">
    <div class="post">
      Você ainda não tem nada publicado, escreva algo!
    </div>
  </div>
<% } %>