<div class="columns">
  <div><img class="profile-pic" src="<%= profileImageUrl(profile) %>" style="display:block" /></div>
  <div style="padding-left: 10px; width: calc(100% - 138px)">
    <h1><%= profile.name %></h1>

    <%- escapeMarkdown(profile.description || "").substr(0, 70) %>

    <% if (friendshipStatus == "request_received") { %>
      <p><%= profile.name %> sent you a friendship request</p>
    <% } else if (friendshipStatus == "request_rejected") { %>
      <p>You rejected <%= profile.name %> friendship request</p>
    <% } %>

    <div class="columns profile-actions" style="margin-top: 10px; flex-wrap: wrap">
      <%- include('../shared/_friendship_button') %>

      <% if (friendshipStatus != "blocked") { %>
        <button class="button-yellow js-compose-secret-message" style="margin: 0 5px 5px 5px" data-url="<%= profileUrl(profile.id, "/publish_secret") %>">
          🤫 Secret
        </button>
        <%- include('secrets/_compose_single') %>
      <% } %>

      <div>
        <%- include('../shared/_profile_extra_menu') %>
      </div>
    </div>
  </div>
</div>

<div class="tabs" style="margin-top: 20px; padding: 0 10px;">
  <button class="tab-title tab-selected js-tab-button">
    Wall
  </button>
  <button class="tab-title js-tab-button">
    Amigos
  </button>
  <button class="tab-title js-tab-button">
    Comunidades
  </button>
</div>
<div class="tab-content">
  <div class="tab-item js-tab-item">
    <% if (friendshipStatus == "blocked") { %>
      <div style="padding: 15px">You blocked <%= profile.name %></div>
    <% } else { %>
      <form action="<%= profileUrl(profile.id, "/publish") %>" method="POST" style="padding: 0px 8px 5px 8px;">
        <%- include('_publish', { placeholder: `Write something to ${profile.name}...` }) %>
      </form>
      <% if (posts.length > 0) { %>
        <%- include('../shared/_posts', { posts }) %>
      <% } else { %>
        <div style="padding-top: 15px;">
          <div class="post">
            No posts yet
          </div>
        </div>
      <% } %>
    <% } %>
  </div>
  <div class="tab-item js-tab-item" style="display: none; padding: 10px">
    <%- include('_friends', { friends: friends.friends }) %>
    <% if (friends.friends.length == 0) { %>
      <p>No friends</p>
    <% } %>
  </div>
  <div class="tab-item js-tab-item" style="display: none; padding: 10px">
    <% communities.map(community => { %>
      <a href="/communities/<%= community %>" class="link-block">
        #<%= community %>
      </a>
    <% }) %>
    <% if (communities.length == 0) { %>
      <p>No communities</p>
    <% } %>
  </div>
</div>